@import "tailwindcss";

@keyframes spinChakra {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin-chakra {
  animation: spinChakra 10s linear infinite;
}

.spin-chakrab {
  animation: spinChakra 30s linear infinite;
}


html,
body {
  margin: 0;
  padding: 0;
}